<aside class="bg-indigo-950 h-full w-full flex flex-col justify-between">
  <div class="p-4">
    <h2 class="text-xl font-semibold mb-4">Menu</h2>
    <div *ngFor="let list of lists">
      <button (click)="selectList(list._id)" [ngClass]="{'bg-blue-500': list._id === selectedListId}">
        {{list.name}}
      </button>
    </div>
  </div>
  <div class="p-4">
    <button *ngIf="!createNewList" (click)="createNewList=true" class="bg-indigo-600 text-white px-4 py-2 rounded">New list</button>
    <div *ngIf="createNewList">
      <form [formGroup]="newListForm">
        <div class="mb-4">
          <label for="item" class="block text-sm font-medium text-gray-700">Item Name</label>
          <input type="text" id="item" formControlName="name" class="form-input mt-1 block w-full" required>
        </div>

        <div class="mb-4">
          <label for="listColor" class="block text-sm font-medium text-gray-700">List Color</label>
          <ngx-colors ngx-colors-trigger formControlName="color"></ngx-colors>
        </div>

        <button (click)="createList()" class="bg-indigo-600 text-white px-4 py-2 rounded">Create List</button>
        <button (click)="cancel()" class="bg-red-800 text-white px-4 py-2 rounded">Cancel</button>
      </form>
    </div>
  </div>
</aside>
