<div class="max-w-md mx-auto p-4">
   <div *ngIf="!isNewItem && !item">No items selected.</div>
   <div *ngIf=" (isNewItem && isNewItem.isNewItem) || item">
    <h2 class="text-2xl font-semibold mb-4">{{ (isNewItem && isNewItem.isNewItem) ? 'Create New Item' : 'Update Item' }}</h2>
    <form [formGroup]="itemForm">
      <div class="mb-4">
        <label for="itemName" class="block text-sm font-medium text-gray-700">Item Name</label>
        <input type="text" id="itemName" formControlName="name" class="form-input mt-1 block w-full" required>
      </div>

      <div class="mb-4">
        <label for="itemDescription" class="block text-sm font-medium text-gray-700">Item Description</label>
        <textarea name="itemDescription" id="itemDescription" formControlName="description" cols="45" rows="10"></textarea>
      </div>

      <div class="mb-4">
        <p> {{ item?.isDone ? 'Done' : 'Not Done' }}</p>
      </div>

      <div class="flex items-center">
        <button (click)="onSave()" class="bg-indigo-800 text-white px-4 py-2 rounded">Save</button>
        <button (click)="onCancel()" class="ml-2 text-gray-600">Cancel</button>
      </div>
    </form>
   </div>
  </div>

